section {
  padding: 100px;
  min-height: 100vh;
  background: white;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.banner .three-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}
.banner .three-scene Scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .contentBx,
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.banner .contentBx h4 {
  margin-top: 30px;
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
}
.banner .contentBx h4 span {
  color: #00bcd4;
  font-size: 1.5em;
  font-weight: 700;
}
.banner .contentBx h2 {
  font-size: 3em;
  color: #333;
  line-height: 1em;
}
p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}
.btn {
  background: #00bcd4;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
}
.sci {
  position: absolute;
  right: 100px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sci li {
  margin-right: 10px;
  list-style: none;
  background: transparent;
}
.sci li img {
  transform: scale(0.5);
  opacity: 0.7;
}
.sci li img:hover {
  opacity: 1;
}
@media (max-width: 991px) {
  .banner .three-scene {
    display: none;
  }
  .banner .contentBx {
    width: 100%;
    padding: 40px;
  }
}
